.navbar {
    background-color: white;
    border-bottom: 3px solid black;
    
}

.me-2 {
    border: 1px solid black;
}

.botaosearch {
    color: white;
    background-color: black;
    border: 1px solid gray;
}

.botaosearch:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
}